<!DOCTYPE html>
<html>
    <head>
        <title>Flag Service</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Welcome to the flag service!</h1>

        <p>
            Here are some useful links: 
            <ul>
                <li>
                    <a href="/display-flag">Display flag</a>
                </li>
                <li>
                    <a href="/change-flag">Change flag</a>
                </li>
                <li>
                    <a href="/report">Report to admin</a>
                </li>
            </ul>
        </p>
    </body>
</html>