<!DOCTYPE html>
<html>
    <head>
        <title>Flag Service</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Report suspicious URL to admin</h1>
        <form action="/report" method="POST">
            URL: <input name="url" placeholder="http://localhost:3000/"></input>
            <button>Submit</button>
        </form>
    </body>
</html>