POSTGRESDB_USER=postgres
POSTGRESDB_DATABASE=trusted_blinding
POSTGRESDB_LOCAL_PORT=6000
POSTGRESDB_DOCKER_PORT=5432

SIGNER_LOCAL_PORT=7000
SIGNER_DOCKER_PORT=7000

PROXY_LOCAL_PORT=0.0.0.0:443
PROXY_DOCKER_PORT=8000

BACKEND_LOCAL_PORT=9000
BACKEND_DOCKER_PORT=9000
BACKEND_CORS=localhost:9000

CHALL_PREF_LEN=16
CHALL_DIFF=22
RATE_LIMIT_IP=1
POSTGRESDB_ROOT_PASSWORD=debugpsqlpass
REV_PROXY_SECRET=somesecretchangeme
JWT_SECRET=somesecretchangeme
GITHUB_TOKEN=
FLAG=justCTF{t3stn0tr3alh4rdflag}