version: '3.1'

services:
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: app
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
      interval: 10s
  app: 
    build: .
    depends_on: 
      db:
        condition: service_healthy
    environment:
      - FLAG=${FLAG:-justCTF{fake-flag}}
    ports:
      - 80:5000